{% extends "themes/base_visitor.html.twig" %}

{% block title %}Blog{% endblock %}

{% block description %}Lisez des articles passionnant sur le bien-être et la santé.{% endblock %}

{% block keywords %}Blog, liste, articles, santé, bien-être{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des articles</h1>
{% endblock %}