{% extends "themes/base_admin.html.twig" %}

{% block title %}Liste des catégories{% endblock %}

{% block description %}Accéder à la liste de vos catégories{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des catégories</h1>
{% endblock %}