{% extends "themes/base_visitor.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}Hello, c'est Jean-Dupont. Lisez des articles passionnant sur le bien-être et la santé.{% endblock %}

{% block keywords %}Blog, accueil, articles, santé, bien-être{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Hello JD</h1>
{% endblock %}